#  PYTHON PRACTICE CASE

## Retno Dewi Yulianti
Data Fellowship Batch 6 - Data Science

### Dataset A

In [1]:
# Create Connection with SQLite3

import sqlite3
con = sqlite3.connect('databaseDewi.db')

In [3]:
con = sqlite3.connect('databaseDewi.db')
cursorObj = con.cursor()

In [4]:
# Create Database

import sqlite3
from sqlite3 import Error
def sql_connection():
    try:
        con = sqlite3.connect(':memory:')
        print("Connection is established: Database is created in memory")
    except Error:
        print(Error)
    finally:
        con.close()
sql_connection()

Connection is established: Database is created in memory

In [5]:
import sqlite3
from sqlite3 import Error
def sql_connection():
    try:
        con = sqlite3.connect('databaseDewi.db')
        return con
    except Error:
        print(Error)
def sql_table(con):
    cursorObj = con.cursor()
    cursorObj.execute("CREATE TABLE transactions(id integer UNIQUE, insert_time text, tx_amount real, tx_type string, status string)")
    con.commit()
con = sql_connection()
sql_table(con)

In [6]:
#Prevent Lock Database

import sqlite3
import contextlib

def execute_statement(statement):
    with contextlib.closing(sqlite3.connect(path_to_file)) as conn: # auto-closes
        with conn: # auto-commits
            with contextlib.closing(conn.cursor()) as cursor: # auto-closes
                cursor.execute(statement)

In [13]:
# Insert The Buy Data into Table

cursorObj.execute("INSERT INTO transactions (id, insert_time, tx_amount, tx_type, status) VALUES(1, '2021-07-01', 55, 'buy', 'open')")
cursorObj.execute("INSERT INTO transactions (id, insert_time, tx_amount, tx_type, status) VALUES(2, '2021-07-01', 63, 'buy', 'open')")
cursorObj.execute("INSERT INTO transactions (id, insert_time, tx_amount, tx_type, status) VALUES(3, '2021-07-04', 71, 'buy', 'open')")
cursorObj.execute("INSERT INTO transactions (id, insert_time, tx_amount, tx_type, status) VALUES(4, '2021-07-05', 79, 'buy', 'open')")
cursorObj.execute("INSERT INTO transactions (id, insert_time, tx_amount, tx_type, status) VALUES(5, '2021-07-08', 86, 'buy', 'open')")
cursorObj.execute("INSERT INTO transactions (id, insert_time, tx_amount, tx_type, status) VALUES(6, '2021-07-11', 94, 'buy', 'open')")
con.commit()

In [14]:
# Transactions List

cursorObj.execute('SELECT * FROM transactions')
rows = cursorObj.fetchall()
for row in rows:
    print(row)

(1, '2021-07-01', 55.0, 'buy', 'open')
(2, '2021-07-01', 63.0, 'buy', 'open')
(3, '2021-07-04', 71.0, 'buy', 'open')
(4, '2021-07-05', 79.0, 'buy', 'open')
(5, '2021-07-08', 86.0, 'buy', 'open')
(6, '2021-07-11', 94.0, 'buy', 'open')

In [16]:
# Updating Transactions List

import sqlite3
con = sqlite3.connect('databaseDewi.db')
cursorObj = con.cursor()
cursorObj.execute('UPDATE transactions SET insert_time = "2021-07-02", tx_type = "sell", status = "close" where id = 1')
cursorObj.execute('UPDATE transactions SET insert_time = "2021-07-04", tx_type = "sell", status = "close" where id = 2')
cursorObj.execute('UPDATE transactions SET insert_time = "2021-07-07", tx_type = "sell", status = "close" where id = 3')
cursorObj.execute('UPDATE transactions SET insert_time = "2021-07-10", tx_type = "sell", status = "close" where id = 4')
con.commit()

In [19]:
# New Updated Transactions List 

cursorObj.execute('SELECT * FROM transactions')
rows = cursorObj.fetchall()
for row in rows:
    print(row)

### Dataset B

In [27]:
import sqlite3
from sqlite3 import Error
def sql_connection():
    try:
        con = sqlite3.connect('databaseDewi.db')
        return con
    except Error:
        print(Error)
def sql_table(con):
    cursorObj = con.cursor()
    cursorObj.execute("CREATE TABLE datasales(date text, sales integer)")
    con.commit()
con = sql_connection()
sql_table(con)

In [29]:
# Insert The Buy Data into Table

import sqlite3
con = sqlite3.connect('databaseDewi.db')
cursorObj = con.cursor()

cursorObj.execute("INSERT INTO datasales (date, sales) VALUES('2021-1-1', 100)")
cursorObj.execute("INSERT INTO datasales (date, sales) VALUES('2021-1-2', 34)")
cursorObj.execute("INSERT INTO datasales (date, sales) VALUES('2021-1-2', 123)")
cursorObj.execute("INSERT INTO datasales (date, sales) VALUES('2021-1-3', 145)")
cursorObj.execute("INSERT INTO datasales (date, sales) VALUES('2021-1-3', 24)")
cursorObj.execute("INSERT INTO datasales (date, sales) VALUES('2021-1-4', 541)")
cursorObj.execute("INSERT INTO datasales (date, sales) VALUES('2021-1-4', 636)")
cursorObj.execute("INSERT INTO datasales (date, sales) VALUES('2021-1-5', 322)")
cursorObj.execute("INSERT INTO datasales (date, sales) VALUES('2021-1-6', 242)")
cursorObj.execute("INSERT INTO datasales (date, sales) VALUES('2021-1-7', 22)")
cursorObj.execute("INSERT INTO datasales (date, sales) VALUES('2021-1-8', 46)")

con.commit()

In [30]:
# Data Sales

cursorObj.execute('SELECT * FROM datasales')
rows = cursorObj.fetchall()
for row in rows:
    print(row)

('2021-1-1', 100)
('2021-1-2', 34)
('2021-1-2', 123)
('2021-1-3', 145)
('2021-1-3', 24)
('2021-1-4', 541)
('2021-1-4', 636)
('2021-1-5', 322)
('2021-1-6', 242)
('2021-1-7', 22)
('2021-1-8', 46)

In [32]:
# Report Daily Sales

cursorObj.execute('SELECT date, sum(sales) FROM datasales GROUP BY date')
rows = cursorObj.fetchall()
for row in rows:
    print(row)

('2021-1-1', 100)
('2021-1-2', 157)
('2021-1-3', 169)
('2021-1-4', 1177)
('2021-1-5', 322)
('2021-1-6', 242)
('2021-1-7', 22)
('2021-1-8', 46)

### Dataset C

In [140]:
#impost json file

import pandas as pd
import json
with open('practicecase.txt') as f_in: #data practicecase.txt as same as the dataset C
    data = json.load(f_in)

In [170]:
df_json = pd.json_normalize(data)
df_json

,txs,user.id,user.name,user.email
0,"[{'id': 1, 'tx_date': '2020-01-01', 'tx_amount...",1,agus,agus@example.com
1,"[{'id': 2, 'tx_date': '2020-01-01', 'tx_amount...",2,asep,asep@example.com

In [185]:
df_txs = pd.json_normalize(data, 'txs', max_level=1)
df_txs

   id     tx_date  tx_amount tx_type
0   1  2020-01-01         10     buy
1   3  2020-02-01         10     buy
2   5  2020-03-01         20    sell
3   2  2020-01-01         10    sell
4   4  2020-02-01         10    sell
5   6  2020-03-01         20     buy

In [189]:
df_id = [df_json[['user.id']], df_txs[['id']]]

In [173]:
# CSV 1

df_id = [df_json[['user_id']], df_txs[['id']]]
df_id.columns = ['user_id', 'tx_id']
df_id.to_csv('CSV_1.csv', index=False)


# CSV 2
df_user = df_json[['user.id', 'user.name', 'user.email']]
df_user.columns = ['Id', 'name', 'email']
df_user.to_csv('CSV_2.csv', index=False)

# CSV 3
df_txs.to_csv('CSV_3.csv', index=False)